<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>individual</key>
	<array>
		<dict>
			<key>img</key>
			<string>individual_set</string>
			<key>title</key>
			<string>设置</string>
		</dict>
		<dict>
			<key>img</key>
			<string>individual_help</string>
			<key>title</key>
			<string>使用帮助</string>
		</dict>
		<dict>
			<key>img</key>
			<string>individual_feedback</string>
			<key>title</key>
			<string>问题反馈</string>
		</dict>
		<dict>
			<key>img</key>
			<string>individual_contract</string>
			<key>title</key>
			<string>联系我们</string>
		</dict>
	</array>
	<key>setting</key>
	<array>
		<dict>
			<key>title</key>
			<string>昵称</string>
			<key>content</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>公司名称</string>
            <key>content</key>
            <string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>手机号</string>
            <key>content</key>
            <string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>邮箱</string>
            <key>content</key>
            <string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>手势密码</string>
            <key>content</key>
            <string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>修改密码</string>
            <key>content</key>
            <string></string>
		</dict>
	</array>
</dict>
</plist>
